.IoBele {
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: orange;
  height: 750px;
}

.IoBele h1 {
  font-size: 6rem;
}

.Content {
  display: flex;
  height: 700px;
}

.contentTitle {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  background-color: black;
  color: orange;
}

.clickAbles {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1b2631;
  color: white;
}

.row {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: space-between;
}

.firstClickables,
.lastClickables {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}